a {
  &.link {
    @include flex(row, center, flex-start);
    gap: 0.8rem;

    span {
      @include typography-link();
      color: $grayscale-50;
      @include expand_border_link($grayscale-50);
    }
  }
}

.x-twitter {
  svg {
    height: 16px;
    fill: $grayscale-50;
  }
}