.all-images {
  @include flex(row, center, center);

  .box-image {
    position: relative;
    @include flex(column, center, center);

    .description {
      z-index: -20;
      position: absolute;
      top: -9rem;
      @include flex(column, center, center);
      gap: 0.8rem;
      width: 16rem;

      p.body-md {
        color: $grayscale-300;
        text-align: center;
      }
    }

    @for $i from 0 through 2 {
      &:nth-child(#{$i}) {
        z-index: #{2 - $i};
      }
    }

    .image-hero {
      max-width: 10rem;
    }

    &:nth-child(n):not(:last-child) {
      transition: all 0.4s ease-out;
      margin-right: -4rem;
    }
  }

  &:hover {
    .box-image {
      &:nth-child(n):not(:last-child) {
        margin-right: 0.8rem;
      }
    }
  }

  @include responsive(1200px) {
    display: none;
  }

  @include responsive(1024px) {
    display: flex;
    position: absolute;
    top: -12rem;
    margin: auto 0;
    transform: scale(0.9);

    .box-image {
      .description {
        // display: none;
        top: -8.2rem;
      }
    }
  }

  @include responsive(768px) {
    top: -11rem;
    transform: scale(0.8);
  }
}