.card-concept {
  @include flex(column, start, center);
  width: 100%;
  max-width: 48.25%;

  .thumb {
    width: 100%;
    border-radius: 1.6rem;
    overflow: hidden;
    transition: transform 0.3s;
    margin-bottom: 2.4rem;

    img {
      transition: all 0.3s;

      // &:hover {
      //   // transform: scale(1.025);
      // }
    }
  }

  .text {
    margin-bottom: 1.6rem;

    p {
      &.body-sm {
        color: $grayscale-300;
        margin-bottom: 0.8rem;
      }
    }
  }

  .comingSoon {
    color: $grayscale-300;
    @include flex(row, center, center);
    gap: 0.8rem;

    p {
      @include typography-link();
    }
  }

  .links {
    @include flex(row, center, center);
    gap: 4rem;
  }

  @include responsive(768px) {
    max-width: 100%;
  }
}