.card-work {
  @include flex(column, start, center);
  gap: 3.2rem;

  .container-header {
    .client {
      @include flex(row, center, flex-start);
      gap: 1.2rem;
      margin-bottom: 2rem;

      .img-logo-client {
        width: 3.2rem;
        border-radius: 0.8rem;
      }

      .tag-coming-soon {
        height: 3.6rem;
      }
    }

    .descrition-work {
      @include flex(row, start, center);
      gap: 5.6rem;

      .title {
        width: 100%;
      }

      p {

        &.body-lg,
        &.body-lg-strong {
          color: $grayscale-300;
        }
      }

      .description {
        width: 100%;
      }

      h4 {
        margin-bottom: 1.6rem;
      }
    }
  }

  a {
    &.thumb {
      border-radius: 1.2rem;
      overflow: hidden;

      img {
        transition: all 0.3s;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }

  .row-images {
    @include flex(row, start, center);
    gap: 3.2rem;
  }

  @include responsive(800px) {
    gap: 1.6rem;

    .container-header {

      .client {
        margin-bottom: 1.6rem;

        .tag-coming-soon {
          height: 3.2rem;
        }
      }

      .descrition-work {
        @include flex(column, start, center);
        gap: 3.2rem;

        .description {
          display: none;
        }
      }
    }

    .row-images {
      @include flex(column, start, center);
      gap: 1.6rem;
    }
  }
}