footer {
  background-color: $grayscale-700;

  .grid-container {
    padding-top: 10rem;
  }

  .span {
    color: $grayscale-300;
    margin-bottom: 2rem;
  }

  .top {
    @include flex(row, center, space-between);
    margin-bottom: 6rem;

    .content {
      color: $grayscale-50;

      .email {
        @include flex(row, center, center);
        gap: 2.4rem;

        .btn-copy {
          @include flex(row, center, center);
          background-color: $grayscale-600;
          border-radius: 0.8rem;
          height: 4.8rem;
          width: 4.8rem;
          color: $grayscale-400;

          svg {
            height: 2.8rem;
            width: 2.8rem;
          }
        }
      }
    }

    .group-links {
      border: none;
      padding-bottom: 0rem;

      .span {
        color: $grayscale-300;
        margin-bottom: 2rem;
      }
    }
  }

  .group-links {
    padding-bottom: 4rem;

    .links {
      @include flex(row, flex-start, flex-start);
      gap: 3.2rem;

      .left,
      .right {
        @include flex(row, center, center);
        gap: 3.2rem;
      }
    }
  }

  .bottom {
    @include flex(row, center, space-between);
    padding-top: 4rem;
    padding-bottom: 4rem;

    p {
      color: $grayscale-200;
      font-size: 1.4rem;
      line-height: 100%;
    }

    .development {
      @include flex(row, center, flex-start);
      gap: 0.8rem;

      a {
        img {
          margin-top: 0.4rem;
          height: 1.3rem;
          filter: grayscale(1);
          transition: filter 0.3s;

          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }
  }

  @include responsive(768px) {
    .grid-container {
      padding-top: 6rem;
    }

    .span {
      text-align: center;
    }

    .top {
      @include flex(column, center, center);
      gap: 4rem;
      margin-bottom: 4rem;

      a {
        @include flex(row, center, center);
        width: 100%;
      }
    }

    .group-links {
      padding-bottom: 4rem;

      .links {
        gap: 6rem;
        @include flex(row, center, center);

        .left,
        .right {
          @include flex(column, center, center);
        }
      }
    }

    .bottom {
      @include flex(column, center, center);

      .development {
        margin-top: 1.6rem;
      }
    }
  }
}