.open-menu {
  overflow-y: hidden;
}

.open-to-work {
  @include flex(row, center, center);
  gap: 0.2rem;

  .signal {
    @include flex(row, center, center);
    width: 3.6rem;
    position: relative;

    .circle,
    .wave {
      position: absolute;
      border-radius: 100%;
      height: 0.8rem;
      width: 0.8rem;
    }

    .circle {
      background-color: #6efc6c;
    }

    .wave {
      background-color: #6efc6c;
      animation-name: sineWave;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    @include animation_sine_wave();
  }

  p {
    margin-left: -4px;
    font-family: "Sora", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: $green-500;
  }
}

header {
  position: fixed;
  width: 100%;
  height: 7.2rem;
  border-bottom: 1.5px solid $grayscale-500-opacity-50;
  background-color: $grayscale-800;
  display: flex;
  z-index: 2023;
  transition: all 0.3s;

  .grid-container {
    @include flex(row, center, space-between);

    .left {
      @include flex(row, center, center);
      gap: 0.8rem;

      .logo {
        img {
          height: 2.4rem;
        }
      }
    }

    .nav-default-mode-case {
      @include nav-link();
    }

    .nav-default {
      @include nav-link();
    }

    .menu-icon,
    .close {
      border-radius: 0.8rem;
      padding: 0.8rem 1.2rem;
      cursor: pointer;
      color: $grayscale-50;
      background-color: $grayscale-700;
      border: 1px solid $grayscale-500-opacity-50;
    }

    .menu-icon {
      display: none;
    }

    .menu-mobile {
      width: 100%;
      position: fixed;
      z-index: 3000;
      top: 0;
      left: 0;
      overflow-x: hidden;
      transition: all 0.3s;
      transform: translateX(-100%);
      pointer-events: none;

      &.active {
        pointer-events: all;
        transform: translateX(0%);
      }

      .header-menu-mobile {
        .grid-container {
          background-color: $grayscale-800;
          border-bottom: 1.5px solid $grayscale-500-opacity-50;
          width: 100%;
          height: 7.2rem;
          @include flex(row, center, space-between);

          .logo {
            img {
              height: 2.4rem;
            }
          }
        }
      }

      .nav-mobile {
        height: 100vh;
        padding-top: 6rem;
        background-color: $grayscale-800;

        ul {
          @include flex(column, center, center);
          gap: 4rem;

          .nav-link {
            a {
              cursor: pointer;
              font-family: "Archivo Black", sans-serif;
              letter-spacing: -0.15rem;
              font-size: 4rem;
              font-weight: 600;
              color: $grayscale-50;
              // @include expand_border($grayscale-50);

              .x-twitter svg {
                fill: $grayscale-50;
                height: 3.2rem;
              }
            }
          }

          .social {
            border-top: 1.4px solid $grayscale-500-opacity-50;
            padding-top: 4rem;
            @include flex(row, center, space-between);
            gap: 4rem;
          }
        }
      }
    }

    @include responsive(768px) {
      .open-to-work-visible {
        display: none;
      }

      .nav-default {
        display: none;
      }

      .menu-icon {
        display: block;
      }
    }
  }
}