.section-gallery {
  opacity: 0;
  overflow: hidden;
  padding-top: 7.2rem;

  .container-scroll-wheel {
    overflow: hidden;

    .photos-container {
      display: flex;
      height: 100dvh;

      .img-about {
        position: absolute;
        border: 0.5rem solid $grayscale-50;
      }

      .img-font {
        position: absolute;
        border: 0.5rem solid $grayscale-50;
      }

      .me,
      .traveling,
      .my-setup,
      .ui-design,
      .volleyball,
      .fonts {
        height: 100dvh;
        position: relative;
        flex-shrink: 0;
      }

      .me {
        width: 41rem;

        .img-profile {
          width: 50%;
          transform: rotate(11deg);
          left: 25%;
          top: 30%;
        }
      }

      .traveling {
        width: 63rem;

        .text-traveling {
          @include text-image-about();
          position: absolute;
          left: 28%;
          top: 18%;

          &::before {
            position: absolute;
            content: url('../assets/about/arrow_traveling.svg');
            display: block;
            top: 2rem;
            left: -7rem;
          }
        }

        .img-paisagem {
          width: 42%;
          transform: rotate(-5deg);
          top: 33%;
          left: 10%;
        }

        .img-love {
          width: 37%;
          transform: rotate(5deg);
          right: 14%;
          top: 43%;
        }
      }

      .my-setup {
        width: 73rem;

        .text-setup-1,
        .text-setup-2 {
          position: absolute;
          @include text-image-about();
        }

        .text-setup-1 {
          top: 17%;
          left: -2%;

          &::before {
            position: absolute;
            content: url('../assets/about/arrow_setup_1.svg');
            display: block;
            top: 1rem;
            right: -8rem;
          }
        }

        .text-setup-2 {
          top: 70%;
          right: 38%;

          &::before {
            position: absolute;
            content: url('../assets/about/arrow_setup_2.svg');
            display: block;
            top: -2rem;
            right: -11rem;
          }
        }

        .img-pc {
          width: 37%;
          transform: rotate(7deg);

          top: 19%;
          right: 13%;
        }

        .img-keyboard {
          width: 33%;
          transform: rotate(-5deg);
          top: 32%;
          left: 19%;
          z-index: 1000;
        }
      }

      .ui-design {
        width: 66rem;

        .text-colors,
        .text-app {
          position: absolute;
          @include text-image-about();
        }

        .text-colors {
          top: 74%;
          left: 45%;

          &::before {
            position: absolute;
            content: url('../assets/about/arrow_colors.svg');
            display: block;
            top: -3rem;
            left: -8rem;
          }
        }

        .text-app {
          top: 15%;
          right: 9%;

          &::before {
            position: absolute;
            content: url('../assets/about/arrow_app.svg');
            display: block;
            top: 8rem;
            right: 13rem;
          }
        }

        .img-colors {
          width: 39%;
          transform: rotate(-5deg);
          top: 27%;
          left: 17%;
        }

        .img-app {
          width: 32%;
          transform: rotate(5deg);
          top: 33%;
          right: 16%;
        }
      }

      .volleyball {
        width: 72rem;

        .text-volleyball {
          position: absolute;
          @include text-image-about();
          top: 68%;
          left: 24%;

          &::before {
            position: absolute;
            content: url('../assets/about/arrow_volleyball.svg');
            display: block;
            top: -7rem;
            right: -6rem;
          }
        }

        .img-volley-attack {
          width: 52%;
          transform: rotate(8deg);
          top: 22%;
          right: 9%;
        }

        .img-volley-back {
          width: 41%;
          transform: rotate(-5deg);
          top: 29%;
          left: 8%;
        }
      }

      .fonts {
        width: 73rem;

        .img-font-1 {
          width: 39%;
          transform: rotate(7deg);
          top: 30%;
          left: 12%;
          z-index: 1000;
        }

        .img-font-2 {
          width: 39%;
          transform: rotate(-5deg);
          top: 26%;
          right: 12%;
        }
      }
    }
  }


  .grid-container {
    position: relative;
    height: 84.6rem;
    overflow: hidden;

    @include responsive(1080px) {
      // display: none;
    }
  }
}

.section-about {
  background-color: $grayscale-700;
  color: $grayscale-50;

  h2 {
    margin-bottom: 4rem;
  }

  .grid-container {
    @include padding_section();
    @include flex(row, flex-start, space-between);
    position: relative;

    .text-caption {
      margin-bottom: 4.8rem;

      .body-md {
        color: $grayscale-300;
        margin-top: 1.2rem;
      }
    }

    .text-about {
      width: 100%;
      max-width: 88rem;

      .description {
        color: $grayscale-300;
        @include flex(column, flex-start, flex-start);
        gap: 1.2rem;
        margin-bottom: 3.2rem;
      }
    }

    .plataforms {
      width: 100%;
      max-width: 32rem;
      position: sticky;
      overflow: hidden;

      .group-social {
        @include flex(row, flex-start, flex-start);
        gap: 1.6rem;
      }
    }

    @include responsive(768px) {
      @include flex(column, flex-start, center);
      gap: 2rem;

      .text-about {
        max-width: 100%;
      }

      .plataforms {
        max-width: 100%;
      }
    }
  }
}

.section-career {
  background-color: $grayscale-800;
  color: $grayscale-50;

  .grid-container {
    @include padding_section();

    ul {
      @include flex(column, flex-start, flex-start);
      gap: 4rem;

      li.experience {
        @include flex(column, flex-start, flex-start);
        gap: 0.8rem;

        p.body-md {
          color: $grayscale-300;
        }
      }
    }

    .listview-experiences {
      @include flex(row, flex-start, flex-start);
      gap: 6rem;
      margin-top: 5.6rem;

      .title {
        color: $grayscale-300;
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 4rem;
      }

      .past-experiences {
        width: 100%;
        max-width: 59.6rem;
        border-right: 1px solid $grayscale-500-opacity-50;
      }

      .current {
        width: 100%;
      }
    }

    @include responsive(768px) {
      .listview-experiences {
        @include flex(column, flex-start, flex-start);

        .past-experiences {
          max-width: 100%;
          border-right: none;
        }
      }
    }
  }
}