.homepage {
  overflow: hidden;

  .section-hero {
    background-image: url("../assets/background-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $grayscale-50;
    padding-top: 7.2rem;

    .grid-container {
      padding-top: 10rem;
      padding-bottom: 10rem;
      @include flex(row, center, space-between);
      gap: 4rem;

      .text {
        position: relative;
        @include flex(column, flex-start, flex-start);
        width: 100%;
        gap: 6rem;

        .header {
          @include flex(column, flex-start, flex-start);
          gap: 4rem;

          .title {
            @include flex(column, flex-start, flex-start);
            gap: 1.6rem;

            .text-product-designer {
              @include flex(row, center, center);
              gap: 3.2rem;
            }

            p {
              &.body-2xl {
                color: $grayscale-300;
                margin-bottom: 1.2rem;
              }
            }

            .display-lg {
              max-width: 100%;
            }
          }

          p.body-lg {
            width: 100%;
            max-width: 69rem;
            color: $grayscale-300;
          }
        }

        .companies {
          p.span {
            color: $grayscale-300;
            padding-bottom: 3.2rem;
          }

          .list {
            @include flex(row, center, flex-start);
            gap: 4rem;

            a {
              img {
                max-height: 4rem;
                filter: grayscale(1);
                transition: filter 0.3s;

                &:hover {
                  filter: grayscale(0);
                }
              }
            }
          }
        }
      }

      @include responsive(1024px) {
        @include flex(column, flex-start, flex-start);
        max-width: 100%;
        padding-top: 6rem;
        padding-bottom: 6rem;

        .text {
          margin-top: 16rem;
          max-width: 100%;
          gap: 4rem;

          .header {
            width: 100%;

            .title {
              width: 100%;
              @include flex(column, center, center);

              p {
                &.body-2xl {
                  text-align: center;
                }
              }

              .display-lg {
                text-align: center;
              }
            }

            p.body-lg {
              max-width: 100%;
              text-align: center;
            }
          }

          .companies {
            width: 100%;

            p.span {
              text-align: center;
            }

            .list {
              @include flex(row, center, center);
            }
          }
        }
      }

      @include responsive(768px) {
        .text {
          margin-top: 13rem;

          .header {
            gap: 2.4rem;

            .title {
              max-width: 100%;
              gap: 1rem;
            }
          }

          .companies {
            .list {
              flex-wrap: wrap;
              gap: 4rem;

              a {
                img {
                  max-height: 3.2rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .section-works {
    background-color: $grayscale-700;
    color: $grayscale-50;

    .grid-container {
      @include padding_section();

      h2 {
        margin-bottom: 8rem;
      }

      .listview-works {
        @include flex(column, center, center);
        gap: 20rem;
      }

      @include responsive(768px) {

        h2 {
          margin-bottom: 4rem;
        }

        .listview-works {
          gap: 6rem;

          .card-work:not(:last-child) {
            padding-bottom: 6rem;
          }
        }
      }
    }
  }

  .section-concept {
    color: $grayscale-50;

    .grid-container {
      @include padding_section();

      h2 {
        margin-bottom: 8rem;
      }

      .listview-products {
        margin-bottom: 6.4rem;

        p.body-xl {
          color: $grayscale-300;
          margin-bottom: 2.4rem;
        }

        .card-product {
          @include flex(row, center, space-between);
          gap: 3.2rem;
          background-color: $grayscale-700;
          border-radius: 1.6rem;
          padding: 2.4rem 2.4rem;
          transition: 0.3s all;

          .product-img-container {
            @include flex(row, center, center);

            img.img-product {
              height: 5.6rem;
            }

            svg.external-link-mobile {
              display: none;
            }
          }

          .description {
            width: 100%;

            p.body-lg-strong {
              color: $grayscale-50;
            }

            p.body-md {
              margin-top: 0.6rem;
              color: $grayscale-300;

              a {
                color: $grayscale-50;
              }
            }
          }

          svg.external-link-desktop {
            opacity: 0;
            transition: 0.3s all;
          }

          &:hover {
            background-color: $grayscale-600;

            svg.external-link-desktop {
              opacity: 1;
            }
          }
        }
      }

      .listview-concepts {
        @include flex(row, flex-start, space-between);
        flex-wrap: wrap;
        row-gap: 8rem;
        // display: grid;
        // grid-template-columns: repeat(2, auto);
      }

      @include responsive(768px) {
        h2 {
          margin-bottom: 4rem;
        }

        .listview-products {

          .card-product {
            @include flex(column, flex-start, flex-start);
            gap: 2.4rem;
            padding: 2rem 2rem;

            .product-img-container {
              width: 100%;
              @include flex(row, center, space-between);

              img.img-product {
                height: 4rem;
              }

              svg.external-link-mobile {
                display: block;
              }
            }

            svg.external-link-desktop {
              display: none;
            }
          }
        }

        .listview-concepts {
          // grid-template-columns: repeat(1, auto);
          row-gap: 4rem;

          .card-concept:not(:last-child) {
            // border-bottom: 1px solid $grayscale-500-opacity-50;
            padding-bottom: 4rem;
          }
        }
      }
    }
  }

  .section-how-help {
    background-color: $grayscale-700;
    color: $grayscale-50;

    .grid-container {
      @include padding_section();

      .title {
        position: relative;

        h2 {
          margin-bottom: 1.6rem;
        }

        p {
          &.body-lg {
            max-width: 79.4rem;
            color: $grayscale-300;
          }
        }

        img {
          &.image-stars {
            position: absolute;
            right: 10rem;
            bottom: -8rem;
          }

          @include responsive (768px) {
            &.image-stars {
              width: 7.2rem;
              right: 3rem;
              bottom: -7rem;
            }
          }
        }
      }

      .designer-developer {
        border-radius: 1.6rem;
        border: 1px solid $grayscale-500-opacity-50;
        margin-top: 5.6rem;
        @include flex(row, flex-start, center);

        .card-help {
          &:not(:last-child) {
            border-right: 1px solid $grayscale-500-opacity-50;
          }
        }
      }

      @include responsive(768px) {
        p {
          &.body-lg {
            max-width: 100%;
          }
        }

        .designer-developer {
          margin-top: 4rem;
          @include flex(column, center, center);

          .card-help {
            &:not(:last-child) {
              border-right: none;
              border-bottom: 1px solid $grayscale-500-opacity-50;
            }
          }
        }
      }
    }
  }
}