.section-hero {
  background-image: url("../assets/background-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $grayscale-50;
  padding-top: 8rem;
  position: relative;

  .tags {
    height: 65.9rem;
    width: 67.4rem;
    position: absolute;
    top: 12.4rem;
    right: 26rem;
  }

  .tag-ds,
  .tag-ui,
  .tag-md,
  .tag-fd,
  .tag-pt,
  .tag-mi {
    position: absolute;
    opacity: 0;
  }

  // .tag-ui {
  //   top: 0rem;
  //   right: 0rem;
  // }

  // .tag-ds {
  //   top: 30rem;
  //   right: 17rem;
  // }

  // .tag-md {
  //   top: 45rem;
  //   right: 44rem;
  // }

  .grid-container {
    padding-top: 10rem;
    padding-bottom: 10rem;

    .hello {
      @include flex(row, center, flex-start);
      margin-bottom: 2.4rem;
      gap: 1.2rem;

      .body-xl {
        color: $grayscale-300;
      }

      img {
        &.hand-hello {
          height: 3.2rem;

          animation: balanceHand 0.3s 3;
          animation-delay: 1.2s;
        }

        @include animation_balance_hand();
      }
    }

    .text {
      margin-bottom: 6rem;

      h1 {
        margin-bottom: 2.4rem;
      }

      p.body-xl {
        max-width: 88rem;
      }
    }

    .companies {
      p.span {
        color: $grayscale-300;
        padding-bottom: 3.2rem;
      }

      .list {
        @include flex(row, center, flex-start);
        flex-wrap: wrap;
        gap: 3.2rem;

        a {
          img {
            height: 4rem;

            &:hover {
              filter: contrast(60);
            }
          }

          &:last-child {
            img {
              height: 3.2rem;
            }
          }
        }
      }
    }

    @include responsive(768px) {
      .companies {
        .list {
          @include flex(row, center, flex-start);
          flex-wrap: wrap;
          gap: 3.2rem;

          img {
            height: 3.2rem;
          }
        }
      }
    }
  }
}

.section-works {
  background-color: $grayscale-600;
  color: $grayscale-50;

  .grid-container {
    @include padding_section();

    h2 {
      margin-bottom: 6rem;
    }

    .listview-works {
      @include flex(column, center, center);
      gap: 8rem;
    }

    @include responsive(768px) {
      .listview-works {
        gap: 6rem;
      }
    }
  }
}

.section-concept {
  color: $grayscale-50;

  .grid-container {
    @include padding_section();

    h2 {
      margin-bottom: 6rem;
    }

    .listview-concepts {
      @include flex(row, flex-start, space-between);
      flex-wrap: wrap;
      row-gap: 8rem;
      // display: grid;
      // grid-template-columns: repeat(2, auto);
    }

    @include responsive(768px) {
      .listview-concepts {
        // grid-template-columns: repeat(1, auto);
        row-gap: 6rem;
      }
    }
  }
}

.section-how-help {
  background-color: $grayscale-600;
  color: $grayscale-50;

  .grid-container {
    @include padding_section();

    h2 {
      margin-bottom: 1.6rem;
    }

    p {
      &.body-lg {
        max-width: 79.4rem;
        color: $grayscale-300;
      }
    }

    .design-developer {
      margin-top: 5.6rem;
      @include flex(row, flex-start, center);
      gap: 4rem;
    }

    @include responsive(768px) {
      p {
        &.body-lg {
          max-width: 100%;
        }
      }

      .design-developer {
        margin-top: 4rem;
        @include flex(column, center, center);
        gap: 3.2rem;
      }
    }
  }
}
