.homepage {
  overflow: hidden;

  .section-hero {
    background-image: url("../assets/background-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $grayscale-50;
    padding-top: 7.2rem;

    .grid-container {
      padding-top: 10rem;
      padding-bottom: 10rem;
      @include flex(row, center, space-between);
      gap: 4rem;

      .text {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        gap: 6rem;

        .header {
          @include flex(column, flex-start, flex-start);
          gap: 4rem;

          .title {
            @include flex(column, flex-start, flex-start);
            gap: 1.6rem;

            p {
              &.body-2xl {
                color: $grayscale-300;
                margin-bottom: 1.2rem;
              }
            }

            .container-title {
              @include flex(row, center, flex-start);
              gap: 4rem;

              .image-profile-hero {
                max-width: 10rem;
              }
            }
          }

          p.body-lg {
            width: 100%;
            max-width: 69rem;
            color: $grayscale-300;
          }
        }

        .companies {
          p.span {
            color: $grayscale-300;
            padding-bottom: 3.2rem;
          }

          .list {
            @include flex(row, center, flex-start);
            gap: 3.2rem;

            a {
              img {
                max-height: 4rem;

                &:hover {
                  filter: contrast(60);
                }
              }

              &:last-child {
                img {
                  max-height: 3.2rem;
                }
              }
            }
          }
        }
      }

      @include responsive(1024px) {
        @include flex(column, flex-start, flex-start);
        max-width: 100%;
        padding-top: 6rem;
        padding-bottom: 6rem;

        .text {
          max-width: 100%;
          min-width: 100%;
          gap: 4rem;
        }
      }

      @include responsive(768px) {
        .text {
          .header {
            gap: 2.4rem;

            .title {
              max-width: 100%;
              gap: 1rem;

              .container-title {

                .image-profile-hero {
                  display: none
                }
              }
            }
          }

          .companies {
            .list {
              @include flex(row, center, flex-start);
              gap: 1.8rem;
            }
          }
        }
      }
    }
  }

  .section-works {
    background-color: $grayscale-700;
    color: $grayscale-50;

    .grid-container {
      @include padding_section();

      h2 {
        margin-bottom: 8rem;
      }

      .listview-works {
        @include flex(column, center, center);
        gap: 8rem;

        .card-work:not(:last-child) {
          border-bottom: 1px solid $grayscale-500-opacity-50;
          padding-bottom: 8rem;
        }
      }

      @include responsive(768px) {

        h2 {
          margin-bottom: 4rem;
        }

        .listview-works {
          gap: 6rem;

          .card-work:not(:last-child) {
            padding-bottom: 6rem;
          }
        }
      }
    }
  }

  .section-concept {
    color: $grayscale-50;

    .grid-container {
      @include padding_section();

      h2 {
        margin-bottom: 8rem;
      }

      .listview-concepts {
        @include flex(row, flex-start, space-between);
        flex-wrap: wrap;
        row-gap: 10rem;
        // display: grid;
        // grid-template-columns: repeat(2, auto);
      }

      @include responsive(768px) {
        h2 {
          margin-bottom: 4rem;
        }

        .listview-concepts {
          // grid-template-columns: repeat(1, auto);
          row-gap: 6rem;

          .card-concept:not(:last-child) {
            border-bottom: 1px solid $grayscale-500-opacity-50;
            padding-bottom: 6rem;
          }
        }
      }
    }
  }

  .section-how-help {
    background-color: $grayscale-700;
    color: $grayscale-50;

    .grid-container {
      @include padding_section();

      .title {
        position: relative;

        h2 {
          margin-bottom: 1.6rem;
        }

        p {
          &.body-lg {
            max-width: 79.4rem;
            color: $grayscale-300;
          }
        }

        img {
          &.image-stars {
            position: absolute;
            right: 10rem;
            bottom: -8rem;
          }

          @include responsive (768px) {
            &.image-stars {
              width: 7.2rem;
              right: 3rem;
              bottom: -7rem;
            }
          }
        }
      }

      .designer-developer {
        border-radius: 1.6rem;
        border: 1px solid $grayscale-500-opacity-50;
        margin-top: 5.6rem;
        @include flex(row, flex-start, center);

        .card-help {
          &:not(:last-child) {
            border-right: 1px solid $grayscale-500-opacity-50;
          }
        }
      }

      @include responsive(768px) {
        p {
          &.body-lg {
            max-width: 100%;
          }
        }

        .designer-developer {
          margin-top: 4rem;
          @include flex(column, center, center);

          .card-help {
            &:not(:last-child) {
              border-right: none;
              border-bottom: 1px solid $grayscale-500-opacity-50;
            }
          }
        }
      }
    }
  }
}