.case-section-item {
  @include flex (column, flex-start, flex-start);
  gap: 3.2rem;
  max-width: 90rem;

  .text {
    @include flex (column, flex-start, flex-start);
    gap: 1.6rem;

    p {
      &.body-xl {
        color: $grayscale-100;
      }

      &.body-lg {
        color: $grayscale-300;
      }
    }
  }

  img {
    &.img-case-section {
      border-radius: 1.6rem;
    }
  }

  @include responsive (1366px) {
    max-width: 100%;
  }
}