.section-hero-case {
  background-color: $grayscale-800;
  color: $grayscale-50;
  padding-top: 9rem;

  .grid-container {
    @include padding_section();

    p {
      &.body-xl {
        color: $grayscale-300;
        margin-bottom: 1.6rem;
      }
    }

    .details {
      margin-top: 8rem;
      border: 1.75px solid $grayscale-500-opacity-50;
      border-radius: 1.6rem;
      @include flex (row, stretch, space-between);

      .item {
        padding: 3.2rem 3.2rem;
        width: 100%;

        &:not(:last-child) {
          border-right: 1.75px solid $grayscale-500-opacity-50;
        }

        p {
          &.body-sm {
            color: $grayscale-300;
            margin-bottom: 1.2rem;
          }
        }

        p {
          &.body-md {
            font-weight: 500;
            color: $grayscale-50;
          }
        }
      }
    }

    .thumb-hero {
      margin-top: 8rem;
      border-radius: 1.6rem;
      overflow: hidden;
    }
  }

  @include responsive (768px) {
    .grid-container {
      .details {
        @include flex (column, flex-start, flex-start);
        margin-top: 6rem;

        .item {
          max-width: 100%;

          &:not(:last-child) {
            border-right: none;
            border-bottom: 1.75px solid $grayscale-500-opacity-50;
          }
        }
      }
    }
  }
}