.section-hero-case {
  background-color: $grayscale-800;
  color: $grayscale-50;
  padding-top: 9rem;

  .grid-container {
    @include padding_section();

    p {
      &.body-xl {
        color: $grayscale-300;
        margin-bottom: 1.6rem;
      }
    }

    .details {
      margin-top: 8rem;
      @include flex (row, flex-start, space-between);
      gap: 3.2rem;

      .item {
        width: 100%;

        p {
          &.body-xl {
            color: $grayscale-100;
            margin-bottom: 1.2rem;
          }
        }

        p {
          &.body-md {
            color: $grayscale-300;
          }
        }
      }
    }

    .thumb-hero {
      margin-top: 8rem;
      border-radius: 1.6rem;
      overflow: hidden;
    }
  }

  @include responsive (768px) {
    .grid-container {
      .details {
        @include flex (column, flex-start, flex-start);

        .item {
          max-width: 100%;
        }
      }
    }
  }
}