@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin padding_section() {
  padding-top: 12rem;
  padding-bottom: 12rem;

  @include responsive(768px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@mixin responsive($screen_width) {
  @media (max-width: $screen_width) {
    @content;
  }
}

@mixin nav-link() {
  ul {
    @include flex(row, center, space-between);
    gap: 3.2rem;
    margin-top: 2px;

    .nav-link {
      a {
        color: $grayscale-50;
        @include typography-link();
        @include expand_border($grayscale-50);
        cursor: pointer;
      }
    }

    .social {
      @include flex(row, center, space-between);
      gap: 3.2rem;
    }
  }
}