@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin padding_section() {
  padding-top: 12rem;
  padding-bottom: 12rem;

  @include responsive(768px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@mixin responsive($screen_width) {
  @media (max-width: $screen_width) {
    @content;
  }
}
