@mixin flex ($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin padding_section () {
  padding-top: 16rem;
  padding-bottom: 16rem;

  @include responsive(768px) {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

@mixin padding_section_work () {
  padding-top: 10rem;

  @include responsive(768px) {
    padding-top: 6rem;
  }
}

@mixin responsive ($screen_width) {
  @media (max-width: $screen_width) {
    @content
  }
}