@import "variables";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;

}

html {
  font-size: 10px;
  background-color: $grayscale-800;

  // @include responsive(1440px) {
  //   font-size: 58%;
  // }

  // @include responsive(1024px) {
  //   font-size: 53%;
  // }

  // @include responsive(768px) {
  //   font-size: 48%;
  // }
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.border {
  border: 1px solid red;
}

::-moz-selection {
  color: $grayscale-50;
  background: $grayscale-500;
}

::selection {
  color: $grayscale-50;
  background: $grayscale-500;
}