* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}

html {
  font-size: 62.5%;

  @include responsive(768px) {
    font-size: 56%;
  }
}

img {
  max-width: 100%;
  display: block;
}

html,
body {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.border {
  border: 1px solid red;
}