h1,
h2 {
  font-family: "Sentient", serif;
}

h3,
h4,
h5 {
  font-family: "Sentient", serif;
  font-weight: 600;
}

h1 {
  font-size: 7.2rem;
  line-height: 116%;

  &.display-lg {
    font-size: 10rem;
    letter-spacing: -0.1rem;
  }

  @include responsive(600px) {
    font-size: 4rem;
    line-height: 130%;

    &.display-lg {
      font-size: 5.6rem;
    }
  }
}

h2 {
  font-size: 5.6rem;

  @include responsive(600px) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 4.2rem;

  @include responsive(600px) {
    font-size: 3.2rem;
  }
}

h4 {
  font-size: 3.2rem;

  @include responsive(600px) {
    font-size: 2.4rem;
  }
}

h5 {
  font-size: 2.4rem;

  @include responsive(600px) {
    font-size: 2rem;
  }
}

.italic {
  font-family: 'Sentient';
  font-weight: 500;
  font-style: italic;
}

.paragraph-default {
  line-height: 100%;
}

.paragraph-normal {
  line-height: 140%;
}

.paragraph-medium {
  line-height: 170%;
}

.paragraph-high {
  line-height: 200%;
}

.body-xl {
  font-size: 2.4rem;
  font-weight: 600;

  @include responsive(600px) {
    font-size: 2rem;
  }
}

.body-lg-strong {
  font-size: 2rem;
  font-weight: 500;

  @include responsive(600px) {
    font-size: 1.6rem;
  }
}

.body-lg {
  font-size: 2rem;
  font-weight: 400;

  @include responsive(600px) {
    font-size: 1.6rem;
  }
}

.body-md {
  font-size: 1.8rem;
  font-weight: 400;
}

.body-sm {
  font-size: 1.6rem;
  font-weight: 400;
}

.span {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 100%;
}

.highlighted-text {
  color: $grayscale-50;
  font-weight: 500;
}

@mixin typography-button() {
  font-size: 1.8rem;
  font-weight: 600;
}

@mixin typography-link() {
  font-size: 1.5rem;
  font-weight: 500;
}