// Colors

$grayscale-50: #FFFFFF;
$grayscale-100: #FAFAFA;
$grayscale-150: rgba(250, 250, 250, 0.4);
$grayscale-200: #C9CCCF;
$grayscale-300: #A1A6AA;
$grayscale-400: #4E5256;
$grayscale-500: #3A3E40;
$grayscale-500-opacity-50: rgba(58, 62, 64, 0.5);
$grayscale-600: #1E2024;
$grayscale-700: #14161A;
$grayscale-800: #0C0F14;
$grayscale-800-opacity-80: rgba(12, 15, 20, 0.8);
$green-500: #6EFC6C;

.color-grayscale-300 {
  color: $grayscale-300;
}

.color-white {
  color: $grayscale-50;
}