// Colors

$grayscale-50: #FFFFFF;
$grayscale-100: #FAFAFA;
$grayscale-150: rgba(204, 204, 204, 0.4);
$grayscale-200: #CCCCCC;
$grayscale-300: #A6A6A6;
$grayscale-400: #525252;
$grayscale-500: #3D3D3D;
$grayscale-600: #191919;
$grayscale-700: #111111;
$grayscale-700-opacity-80: rgba(10, 10, 10, 0.8);