// Colors

$grayscale-50: #FFFFFF;
$grayscale-100: #F7F7F7;
$grayscale-150: rgba(204, 204, 204, 0.4);
$grayscale-200: #CCCCCC;
$grayscale-300: #999999;
$grayscale-400: #525252;
$grayscale-500: #292929;
$grayscale-600: #1F1F1F;
$grayscale-700: #0A0A0A;
$grayscale-700-opacity-80: rgba(10, 10, 10, 0.8);