.btn-primary {
  color: $grayscale-50;
  @include flex(row, center, center);
  gap: 1.2rem;
  padding: 0rem 2.4rem;
  border: 2px solid $grayscale-500;
  border-radius: 1.6rem;
  transition: all 0.3s;
  cursor: pointer;

  p {
    @include typography-button();
  }

  &:hover {
    background-color: $grayscale-50;
    color: $grayscale-700;
    border-color: $grayscale-50;
  }

  &.disabled {
    pointer-events: none;
    color: $grayscale-300;
    border-color: $grayscale-500-opacity-50;
  }

  @include responsive(768px) {
    width: 100%;
  }
}

.btn-small {
  height: 4.8rem;

  @include responsive(768px) {
    height: 4.4rem;
  }
}

.btn-medium {
  height: 5.6rem;

  @include responsive(768px) {
    height: 4.8rem;
  }
}